body{
  background: url('images/BattleGround.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#mainContainer{
width: 1100px;
height: 730px;
margin: 0 auto;
box-shadow: 1px 2px 80px 30px black;
background-color: red;
background: url('images/cartoon.png');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
border:  2px solid black;
border-radius: 10%;
}

#wireFrames{
  margin-top: 0;
border-radius: 10% 10% 0 0;
width: 100%;
height: 180px;
}
#gameStory{
  position: absolute;
  text-align: center;
  display: inline-block;
  color: white;
  top: 150px;
  left: 33%;
  padding: 1%;
}
#gameStory:active{
border: 2px solid black;
box-shadow: 1px 2px 40px 10px black;
background-color: black;
opacity: .4;

}
#userStory{
  position: absolute;
  text-align: center;
  display: inline-block;
  color: white;
  top: 150px;
  left: 50%;
  padding: 1%;
}
#userStory:active{
border: 2px solid black;
box-shadow: 1px 2px 40px 10px black;
background-color: black;
opacity: .4;
}

#game{
  position: absolute;
  top: 40%;
  left: 1%;
  background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
   background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  width: 500px;
  height: 300px;
  padding: 1%;
  text-align: center;
  border: 2px solid black;
  color: white;
  border-radius: 5%;
}

p{
  font-size: 130%;
  font-family: 'Shrikhand', cursive;
}

#user{
  position: absolute;
  top: 40%;
  left: 51%;
  background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
   background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  width: 500px;
  height: 300px;
  padding: 1%;
  text-align: center;
  color: white;
  border: 2px solid black;
  border-radius: 5%;
  opacity: 0;
}

#upKey{
  position: absolute;
  background-image: url('images/arrowKey1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top: 59%;
  left: 92%;
    width: 50px;
  height: 50px;
  opacity: 0;
}
#rightKey{
    position: absolute;
  background-image: url('images/arrowKey1.jpg');
  transform: rotate(90deg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top: 70%;
  left: 94.5%;
    width: 50px;
  height: 50px;
  opacity: 0;
}
#downKey{
    position: absolute;
  background-image: url('images/arrowKey1.jpg');
  transform: rotate(180deg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top: 81%;
  left: 92%;
    width: 50px;
  height: 50px;
  opacity: 0;
}
#leftKey{
    position: absolute;
  background-image: url('images/arrowKey1.jpg');
  transform: rotate(270deg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top: 70%;
  left: 88.6%;
    width: 50px;
  height: 50px;
  opacity: 0;
}

#try{
  position: absolute;
  left: 50%;
  top: 80%;
  cursor: pointer;
  background-color: black;
  color: white;
  text-align: center;
  width: 90px;
  height: 25px;
  border: 1px solid black;
  text-decoration: none;
  opacity: 0;
}
#try:active{
  border: 2px solid white;
}

/* #arrows{
  position: absolute;
  background-color: white;
  opacity: .3;
  width: 160px;
  height: 160px;
  left: 89%;
  top: 60%;
  z-index: -1;
} */

.player{
  position: absolute;
  background-image: url('images/MasterChiefOriginal.png');
  width: 100px;
  height: 180px;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  transition-timing-function: linear;
   top:  490px;
  left: 500px;
}

#player{
  transform: rotateY(180deg);
}

#zKey{
  position: absolute;
  background-image: url('images/ZKey.png');
  background-size: cover;
  background-position: center;
  border: 1px solid black;
  border-radius: 15%;
  left: 2%;
  top: 70%;
  width: 80px;
  height: 80px;
  opacity: 0;
}

.bullet1{
  position: absolute;
  background-image: url('images/bullet.gif');
  width: 223px;
  height: 120px;
  transition-timing-function: linear;
  background-repeat: no-repeat;
 background-position: -1105px -238px;
}
.bullet{
  position: absolute;
  background-image: url('images/bullet.gif');
  width: 73px;
  height: 50px;
  transition-timing-function: linear;
  background-repeat: no-repeat;
 background-position: -225px -276px;
}
.zombie{
    position: absolute;
  background-image: url('images/zombie.gif');
  width: 110px;
  height: 200px;
  transition-timing-function: linear;
  background-repeat: no-repeat;
 background-position: -120px -220px;

}
.zombieFinal{
    position: absolute;
  background-image: url('images/zombie.gif');
  width: 100px;
  height: 200px;
  transition-timing-function: linear;
  background-repeat: no-repeat;
 /* background-position: -120px -220px; */
 background-position: -460px 0px;
transition: top .5s, left .5s;

}
.form1{
background-position: -320px -220px;
}

.form2{
  width: 90px;
 background-position: -750px -220px;
}

.form3{
  width: 120px;
background-position: -850px -220px;
}

.player.walk4{
 background-position: -621px 0px;
}

.final{
background-position: -860px 0px;
}

#startGame{
  color: white;
  text-align: center;
width: 300px;
height: 80px;
position: absolute;
left: 37%;
top: 5%;
}

#startGame h1{
  font-size: 160%;
}

#boss{
   position: absolute;
  background-image: url('images/bower.gif');
  transform: rotateY(180deg);
  width: 300px;
  height: 260px;
  background-repeat: no-repeat;
  transition-timing-function: linear;
   top:  440px;
  left: 750px;
  opacity: 0;
}

#fire{
  position: absolute;
  background-image: url('images/fire.png');
  transform: rotate(88deg);
  background-size: 800px 400px;
  width: 100px;
  height: 120px;
  background-repeat: no-repeat;
  transition-timing-function: linear;
  background-position: -190px -53px;
  opacity: 0;

}

